@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Kanit&display=swap');

/* @import '~leaflet/dist/leaflet.css'; */

body {
    margin: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #67748e;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card .card-body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    padding: 1.5rem;
}

.mb-5{
    margin-bottom: 2px !important;
}

.leaflet-container {
    height: 600px;
    width: 100%;
    border-radius: 15px;
}