body{
    font-family: 'Kanit', sans-serif;
}

#map{
    width: 100%;
    height: 360px;
    border-radius: 5px;
    z-index: 1;
}

.cursor{
    cursor: pointer;
}

.f-14{
    font-size: 12px !important;
}

a{
    color: #000 !important;
}

.inner-column{
    padding: 120px 0 60px !important; 
}

.main-menu .navigation > li.current > a, .main-menu .navigation > li.current > span{
    color: #000 !important;
}